<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="static/css/style.css">
    <title>Car Rental Project | WEB-EN</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.css">

</head>

<body>

    <div class="nav">
        <div class="logo">
            <!-- <img src="assets/images/logo.png" alt=""> -->
            logo
        </div>
        <div class="nav-links">
            <a href="#">Home</a>
            <a href="#">About</a>
            <a href="#">Services</a>
            <a href="#">Contact</a>
            <a href="#">Pricing</a>
        </div>
    </div>

    <div class="main">

        <section class="home">
            <div class="home-wrapper">
                <div class="content-home">
                    <h1>Premium Car Rental in New York</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda ex similique repellat
                        accusamus
                        blanditiis.</p>
                </div>
                <div class="image-home">
                    <img src="static/images/home.png" alt="">
                </div>
            </div>
            <div class="brands"></div>
        </section>

        <section class="app">
            <div class="app-img">
                <img src="static/images/Screenshot_2024-04-05_124241-removebg-preview.png" alt="">
            </div>
            <div class="app-content">
                <p class="grey">
                    Convenient Interaction
                </p>
                <h2>Modren App</h2>
                <p>We develop a simple and functional app. <br>It is built in just a way as to simplify the problem of
                    the
                    car selection and rental process. View the location, statement and other information about each of
                    this
                    location in one click.</p>
                <div class="button"><i class='bx bxl-apple'></i>Download app</div>
            </div>
        </section>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.4/gsap.min.js"
        integrity="sha512-EZI2cBcGPnmR89wTgVnN3602Yyi7muWo8y1B3a8WmIv1J9tYG+udH4LvmYjLiGp37yHB7FfaPBo8ly178m9g4Q=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.4/ScrollTrigger.min.js"
        integrity="sha512-OzC82YiH3UmMMs6Ydd9f2i7mS+UFL5f977iIoJ6oy07AJT+ePds9QOEtqXztSH29Nzua59fYS36knmMcv79GOg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="static/scripts/script.js"></script>
</body>

</html>